body {
    background-color: black;
  }
  h1 {
    color: black;
  }
.PADRE{
    background: beige;
	width: 900px;
	height: 800px;
	margin: auto;

    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);


}
.postcard{
    
    display: flex;
}
.mi-foto{
    
        width: 130px;  /* Ajusta el tamaño según prefieras */
        height: 150px;
        border-radius: 50%;  /* Esto hace que la imagen sea circular */
        margin: 20px 0;  /* Añade un poco de espacio arriba y abajo */
        object-fit: cover;  /* Ajusta la imagen dentro del círculo */
     
}
.Encabezado{
    display:block;
}
.Encabezado h1{
    width: 650px;
    margin-top: 20px;
    margin-left: 30px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.Encabezado h2{
    width: 650px;
    margin-top: 20px;
    margin-left: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.fa-phone, .fa-envelope, .fa-map-marker-alt {
    color: blue; 
}
.linea-divisioria{
    width: 100%;       /* Anchura completa */
    height: 2px;       /* Grosor de la línea */
    background-color: gray ;/* Color de la línea (ajústalo a tu preferencia) */
    margin: 20px 0;    /* Espaciado vertical */
}